[submodule "minishell"]
	path = minishell
	url = git@github.com:YunKi-H/minishell.git
[submodule "miniRT"]
	path = miniRT
	url = git@github.com:YunKi-H/miniRT.git
[submodule "Inception"]
	path = Inception
	url = https://github.com/YunKi-H/Inception.git
